/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap"

body
  padding: 10px 

#messages
  max-height: 400px
  overflow-y: auto
  
.input-group-btn 
  text-align: center

.usernamebox, .chattingroombox
  border: 1px solid #fefead
  padding: 50px

.usernamebox .chatin
  margin-bottom: 20px
  
.chattingroombox .chattingname
  margin-bottom: 20px

.chattingroombox #chattingroomname
  margin-bottom: 20px

.rooms h3
  text-align: center  
  
.chattingroombox, .chatwindow
  display: none

.pubnubuser 
  float: left
  list-style: none

.displaybox
  margin-top: 20px
  
.pubnublogo a:hover
  text-decoration:  none